.card-text-1{overflow-y:scroll;height: 25px;}
.cart-icon{border: solid black 2px;padding: 3px;border-radius: 30px;padding-right: 12px;padding-left: 12px;font-weight: 600;cursor: pointer;}
.discount{color: rgb(251, 119, 1);border: solid rgb(251, 119, 1) 1px;font-size: 12px;font-weight: 700;height: 20px;}
.price{margin-top: -5px;}
.card1{margin-bottom: 120px;}



