.card-text-1{overflow-y:scroll;height: 25px;}
.cart-icon{border: solid black 2px;border-radius: 20px;
  padding-right: 8px;padding-left: 8px;font-weight: 600;cursor: pointer;height: 32px;margin-top: -3px;


}
.discount{color: rgb(251, 119, 1);border: solid rgb(251, 119, 1) 1px;font-size: 12px;font-weight: 700;height: 25px;}
.price{margin-top: -3px;}
.card1{margin-bottom: 120px;}


.img-card{width: 275px; /* Required initial starting value */
  transition: width 0.25s ease;}
.img-card:hover{width: 280px;}



