.nav-1st{background-color: black;width: 100vw;height: 60px;}
.nav-1st-div{color: white;font-size: 14px;font-family: Noto Sans Arabic;}
/*  */
.side-cart{position: fixed;top: 100px;left: 0px;width: 400px;margin-bottom: 50px;padding:6px;}
p{font-family: Noto Sans Arabic;}

.side-cart-title-p{text-align: right;font-weight: 600;color: rgb(34, 34, 34);}
.side-cart-pay-info{display: flex;align-items: center;justify-content: space-between;}
.side-cart-pay-info-2{display: flex;align-items: center;justify-content: space-between;margin-top: 15px;}
.side-cart-pay-info-p1{font-family: Noto Sans Arabic;color: rgb(34, 34, 34);font-size: 15px;font-weight: 500;}
.side-cart-pay-info-p2{font-family: Noto Sans Arabic;color: rgb(85, 85, 85);font-size: 19px;font-weight: 500;}
.side-cart-btn{background-color: rgb(251, 119, 1);color: white;border: none;height: 65px;border-radius: 50px;}